body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

input.field {
    width: 90%;
}

table {border-collapse: collapse;}
table thead tr {font-weight: bold; background: grey;}
table thead tr th {border: 1px solid grey; padding: 10px; color: white}
table tbody tr td {border: 1px solid #e8e9eb; padding: 10px;}
table tbody tr:nth-child(2n) {background: #f4f4f4;}
table tbody tr:hover {background: #c7c7c7;}

.button {
  width: 100px;
  display: inline-block;
  border-radius: 4px;
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.disabled {
    width: 100px;
    display: inline-block;
    border-radius: 4px;
    background-color: grey;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0.6;
    cursor: not-allowed;
    margin: 5px;
}

.date {
    text-align: center;
}

input.field {
    width: 90%;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

/*Classes for creating dialogs*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.selected {
    background-color: green;
}

.unselected {
    background-color: white;
}